<template>
<div>
<h1>Hello</h1>
<div id="cityweather"></div>
</div>

</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';

Vue.use(VueAxios, axios);
export default {
  name: 'citiesList',

  mounted() {
    Vue.axios.get('https://api.openweathermap.org/data/2.5/weather?q=grenoble&appid=d44911a1c2815054baca4c89277085c4')
      .then((resp) => {
        console.log(resp.data);

        let outputListBalade = '';
        let date = '';

        // Prompting the user to enter today's Kelvin temperature
        const kelvin = resp.data.main.feels_like;

        // Celsius is 273 degrees less than Kelvin
        const celsius = kelvin - 273;

        // Calculating Fahrenheit temperature to the nearest integer
        const fahrenheit = Math.floor(celsius * (9 / 5) + 32);

        // Displaying the temperature using string interpolation
        console.log(`The temperature is ${fahrenheit} degrees fahrenheit.`);

        const fTemp = fahrenheit;
        const fToCel = (fTemp - 32) * (5 / 9);
        // const message = `${fTemp}\xB0F is ${fToCel}\xB0C.`;
        const message = `${fToCel}\xB0C.`;
        console.log(message);

        const unixTimestamp = resp.data.dt;

        const milliseconds = unixTimestamp * 1000; // 1575909015000

        const dateObject = new Date(milliseconds);

        // const humanDateFormat = dateObject.toLocaleString(); // 2019-12-9 10:30:15

        // dateObject.toLocaleString('en-US', { weekday: 'long' }); // Monday
        // dateObject.toLocaleString('en-US', { month: 'long' }); // December
        // dateObject.toLocaleString('en-US', { day: 'numeric' }); // 9
        // dateObject.toLocaleString('en-US', { year: 'numeric' }); // 2019
        // dateObject.toLocaleString('en-US', { hour: 'numeric' }); // 10 AM
        // dateObject.toLocaleString('en-US', { minute: 'numeric' }); // 30
        // dateObject.toLocaleString('en-US', { second: 'numeric' }); // 15
        date = dateObject.toLocaleString('en-US', { timeZoneName: 'short' });
        console.log(date); // 12/9/2019, 10:30:15 AM CST

        outputListBalade = `
<div data-v-1370a5cc="" class="current-container mobile-padding" style="justify-content: start;">
<div data-v-1370a5cc=""><span data-v-1370a5cc="" class="orange-text">${date}</span>
<h2 data-v-1370a5cc="" style="margin-top: 0px;">${resp.data.name}</h2>
</div><div data-v-1370a5cc="">
<div data-v-1370a5cc="" class="nowrap horizontal" style="justify-content: start; margin-top: 16pt; margin-bottom: 16pt;">
<img src="http://openweathermap.org/img/w/${resp.data.weather[0].icon}.png">
<span data-v-1370a5cc="" class="heading">${message}</span></div>

</div><div data-v-1370a5cc=""><span data-v-1370a5cc="" style="font-weight: bold;">Feels like ${resp.data.weather[0].description}. ${resp.data.weather[0].main} </span></div>




<li data-v-1b8538d2=""><span data-v-1b8538d2="" class="symbol">Humidity:</span>81%</li><li data-v-1b8538d2=""><span data-v-1b8538d2="" class="symbol">UV:</span>0</li><li data-v-1b8538d2=""><span data-v-1b8538d2="" class="symbol">Dew point:</span>2°C</li><li data-v-1b8538d2=""><span data-v-1b8538d2="" class="symbol">Visibility:</span>10.0km</li></ul></div></div>
`;
        document.getElementById('cityweather').innerHTML = outputListBalade;
      });
  },
};
</script>
