<template>
<div id="app">
<input 
type="text" 
name="name" 
class="form-control" 
id="text"
v-model="search"
v-on:keyup.enter="searchName" 
/>
</div>


</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';

Vue.use(VueAxios, axios);
export default {
  name: 'Navbar',
  el: '#app',
	  methods : {
		  searchName : function(){
			  var city = document.getElementById("text").value;
			  console.log(city)


	
    Vue.axios.get('https://api.openweathermap.org/data/2.5/weather?q=' + city + '&appid=d44911a1c2815054baca4c89277085c4')
      .then((resp) => {
        console.log(resp.data);

		let outputListBalade = '';
        let date = '';

        // Prompting the user to enter today's Kelvin temperature
        const kelvin = resp.data.main.feels_like;

        // Celsius is 273 degrees less than Kelvin
        const celsius = kelvin - 273;

        // Calculating Fahrenheit temperature to the nearest integer
        const fahrenheit = Math.floor(celsius * (9 / 5) + 32);

        // Displaying the temperature using string interpolation
        console.log(`The temperature is ${fahrenheit} degrees fahrenheit.`);

        const fTemp = fahrenheit;
        const fToCel = (fTemp - 32) * (5 / 9);
        // const message = `${fTemp}\xB0F is ${fToCel}\xB0C.`;
        const message = `${fToCel}\xB0C.`;
        console.log(message);

        const unixTimestamp = resp.data.dt;

        const milliseconds = unixTimestamp * 1000; // 1575909015000

        const dateObject = new Date(milliseconds);

        // const humanDateFormat = dateObject.toLocaleString(); // 2019-12-9 10:30:15

        // dateObject.toLocaleString('en-US', { weekday: 'long' }); // Monday
        // dateObject.toLocaleString('en-US', { month: 'long' }); // December
        // dateObject.toLocaleString('en-US', { day: 'numeric' }); // 9
        // dateObject.toLocaleString('en-US', { year: 'numeric' }); // 2019
        // dateObject.toLocaleString('en-US', { hour: 'numeric' }); // 10 AM
        // dateObject.toLocaleString('en-US', { minute: 'numeric' }); // 30
        // dateObject.toLocaleString('en-US', { second: 'numeric' }); // 15
        date = dateObject.toLocaleString('en-US', { timeZoneName: 'short' });
        console.log(date); // 12/9/2019, 10:30:15 AM CST

        outputListBalade = `
<div data-v-1370a5cc="" class="current-container mobile-padding" style="justify-content: start;">
<div data-v-1370a5cc=""><span data-v-1370a5cc="" class="orange-text">${date}</span>
<h2 data-v-1370a5cc="" style="margin-top: 0px;">${resp.data.name}</h2>
</div><div data-v-1370a5cc="">
<div data-v-1370a5cc="" class="nowrap horizontal" style="justify-content: start; margin-top: 16pt; margin-bottom: 16pt;">
<img src="http://openweathermap.org/img/w/${resp.data.weather[0].icon}.png">
<span data-v-1370a5cc="" class="heading">${message}</span></div>

</div><div data-v-1370a5cc=""><span data-v-1370a5cc="" style="font-weight: bold;">Feels like ${resp.data.weather[0].description}. ${resp.data.weather[0].main} </span></div><ul data-v-1b8538d2="" data-v-1370a5cc="" class="weather-items text-container orange-side standard-padding"><!----><li data-v-1b8538d2=""><div data-v-1b8538d2="" class="wind-line"><svg data-v-47880d39="" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve" class="icon-wind-direction" style="transform: rotate(270deg);"><g data-v-47880d39="" fill="#48484a"><path data-v-47880d39="" d="M510.5,749.6c-14.9-9.9-38.1-9.9-53.1,1.7l-262,207.3c-14.9,11.6-21.6,6.6-14.9-11.6L474,48.1c5-16.6,14.9-18.2,21.6,0l325,898.7c6.6,16.6-1.7,23.2-14.9,11.6L510.5,749.6z"></path><path data-v-47880d39="" d="M817.2,990c-8.3,0-16.6-3.3-26.5-9.9L497.2,769.5c-5-3.3-18.2-3.3-23.2,0L210.3,976.7c-19.9,16.6-41.5,14.9-51.4,0c-6.6-9.9-8.3-21.6-3.3-38.1L449.1,39.8C459,13.3,477.3,10,483.9,10c6.6,0,24.9,3.3,34.8,29.8l325,898.7c5,14.9,5,28.2-1.7,38.1C837.1,985,827.2,990,817.2,990z M485.6,716.4c14.9,0,28.2,5,39.8,11.6l255.4,182.4L485.6,92.9l-267,814.2l223.9-177.4C454.1,721.4,469,716.4,485.6,716.4z"></path></g></svg> 3.6m/s E </div></li><li data-v-1b8538d2=""><svg data-v-7bdd0738="" data-v-1b8538d2="" width="96pt" height="96pt" viewBox="0 0 96 96" class="icon-pressure"><g data-v-7bdd0738="" transform="translate(0,96) scale(0.100000,-0.100000)" fill="#48484a" stroke="none"><path data-v-7bdd0738="" d="M351 854 c-98 -35 -179 -108 -227 -202 -27 -53 -29 -65 -29 -172 0
    -107 2 -119 29 -172 38 -75 104 -141 180 -181 58 -31 66 -32 176 -32 110 0
    118 1 175 32 77 40 138 101 178 178 31 57 32 65 32 175 0 110 -1 118 -32 176
    -40 76 -106 142 -181 179 -49 25 -71 29 -157 32 -73 2 -112 -1 -144 -13z m259
    -80 c73 -34 126 -86 161 -159 24 -50 29 -73 29 -135 0 -62 -5 -85 -29 -135
    -57 -119 -161 -185 -291 -185 -130 0 -234 66 -291 185 -24 50 -29 73 -29 135
    0 130 66 234 185 291 82 40 184 41 265 3z"></path><path data-v-7bdd0738="" d="M545 600 c-35 -35 -68 -60 -80 -60 -27 0 -45 -18 -45 -45 0 -33 -50
    -75 -89 -75 -18 0 -41 -5 -53 -11 -20 -11 -20 -11 3 -35 12 -13 33 -24 46 -24
    17 0 23 -6 23 -23 0 -13 10 -33 23 -45 30 -28 47 -13 47 43 0 32 6 47 28 68
    15 15 37 27 48 27 26 0 44 18 44 44 0 12 26 47 60 81 l60 61 -28 27 -28 27
    -59 -60z"></path></g></svg>1020hPa</li><li data-v-1b8538d2=""><span data-v-1b8538d2="" class="symbol">Humidity:</span>81%</li><li data-v-1b8538d2=""><span data-v-1b8538d2="" class="symbol">UV:</span>0</li><li data-v-1b8538d2=""><span data-v-1b8538d2="" class="symbol">Dew point:</span>2°C</li><li data-v-1b8538d2=""><span data-v-1b8538d2="" class="symbol">Visibility:</span>10.0km</li></ul></div></div>
`;
        document.getElementById('cityweather').innerHTML = outputListBalade;

		h

	  })
		

       
	   
    }
  }


  


}


</script>