<template>

  <div id="app">
  <Navbar />
    <HelloWorld msg="Welcome to Your Vue.js App"/>
<citiesList />

  </div>
</template>

<script>
import citiesList from './components/citiesList.vue';
import Navbar from './components/Navbar.vue';

export default {
  name: 'App',
  components: {
    citiesList,
	Navbar,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
